 
.slide_notactive{
    display: none;
}
.slide_title{
    padding-bottom: 20px;
    font-size: 2rem;
    font-family: Barlow;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 118.42%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
   
}
 img{
    border-radius: 10px;
    width:600px;
    height:300px;
    object-fit: cover;
     
     
     }
     
@media(max-width: 768px){
    img{
    border-radius: 10px;
    width:250px;
    height:130px;
     }
     .slide_title{
            font-size: 1.2rem;
            font-family: Barlow;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 118.42%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
             
     }
}