
.home_container{
    /* background-color: black; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    height: 100vh;
    justify-content: center;

}

@media(max-width:769px){
    .home_container{
        padding-left: 20px;
        padding-right: 20px;
        justify-content:flex-start;
    }

}