 
.home_container{
 height: 10000px;
 background-color: black;
 }
 .home_banner{
    height: 600px;
 }
h2{
    text-align: center;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 10px;
    opacity: 0;
   
   
}
@media(max-width: 768px){
    .home_banner{
        height: 300px;
        /* background-color: azure; */
    }
    
        h2{
            text-align: center;
            font-size: 1.5rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 200;
            color: white;
            padding-top: 20px;
        }
    
}