.product_item_container {
  width: 200px;
  height: 250px;
  min-width: 200px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.25);
/* margin-left: 20px;
margin-right: 20px; */
margin: auto;
}
.product_item_title > p{
    padding-top: 10px;
    font-size: 1rem;
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 118.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product_item_price {
    
    font-size: 1rem;
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 118.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product_item_image img{
  width: 200px;
  height: 250px;
  object-fit: contain;
  
}
.item_rating{
  display: flex;
  width: 100%;
 justify-content: center;
  color: #FFC107;
 
}
.item_rating > p{
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 118.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
@media(max-width:768px){
    .product_item_container {
      margin-left: 20px;
      margin-right: 30px;
      scroll-behavior: auto;
      overflow: hidden;
    scroll-behavior: smooth;
      }
}