.products_container {
  width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
}
.product_row_one {

  width: 100%;
  height: 50vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  /* flex-direction: column; */
  /* margin-left: 10px; */
 
}
.product_row_one_title {
  padding-top: 50px;
  font-size: 2rem;
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 118.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media(max-width:768px){
  .product_row_one {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */

    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari, etc.) */
    }
  }
}